
    #produse {

    text-align: center;

    width: 500px;

    padding: 100px;

    border: 0px solid black ;

    margin: 0 auto ;

    }

    div{

     text-align: center;

     width: 500px;

     padding: 10px;

     border: 1px solid black ;

     margin: 0 auto ;

    }